/* Reset simple */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: #FFFFFF; /* siempre blanco */
    color: #333;
    line-height: 1.4;
}

/* Contenedor */
.container {
    width: 92%;
    max-width: 900px;
    margin: auto;
}

/* Header (solo 1 columna) */
.header {
    padding: 20px 0;
    text-align: center;
}

.logo img {
    height: 70px;
}

/* Secciones */
.section {
    margin: 40px 0;
    text-align: center;
}

.section img {
    width: 100%;
    border-radius: 14px;
    margin-top: 16px;
}

/* 2 columnas (MÓVIL POR DEFECTO) */
.section-row {
    display: flex;
    flex-direction: column; /* móvil por defecto */
    gap: 20px;
    padding: 30px 0;
    align-items: center;
}




.text-col {
    width: 60%;
}

.image-col {
    width: 40%;
}

.text-col40 {
    width: 40%;
}

.image-col60 {
    width: 60%;
}

.image-col img {
    width: 100%;
    border-radius: 16px;
}

.image-col60 img {
    width: 100%;
    border-radius: 16px;
}


.section-bg-naranja {
    background: #f0e4dc;
    border-radius: 12px;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}



@media (min-width: 900px) {
    .section-bg-naranja {
        flex-direction: row;
        align-items: center;
    }
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-top: 20px;
}

@media (min-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Ajuste SOLO para pantallas muy pequeñas */
@media (max-width: 360px) {
    .section-row {
        flex-direction: column;
        text-align: center;
    }
    .text-col, .image-col, .text-col40, .image-col60 {
        width: 100%;
    }
}


/* Desktop */
@media (min-width: 900px) {
.section-row {
        flex-direction: row; /* desktop */
        gap: 40px;
        padding: 50px 0;
    }
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Footer */
.footer {
    text-align: center;
    padding: 30px 0;
    color: #666;
    font-size: 14px;
}

.section ul {
    padding-left: 24px;
    margin: 12px 0;
}
