/* FILAS 60/40 */
.section-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

/* Columnas */
.text-col {
    width: 60%;
}

.image-col {
    width: 40%;
}

.image-col img {
    width: 100%;
    height: auto;
    display: block;
}

/* Sangría para las viñetas */
.section ul {
    padding-left: 22px;
    margin-top: 10px;
}
